html, body {
  height: 100%;
  margin: 0;
  overflow: hidden;
  background: #1a1b26;
}

#terminal {
  height: 100vh;
  width: 100vw;
}

.xterm-viewport {
  overflow: hidden !important;
}
.xterm-screen canvas {
  image-rendering: pixelated;
}
